In [5]:
"Ola"

'Ola'

In [6]:
"Hi there" + " Ola"

'Hi there Ola'

In [7]:
"Ola" * 3

'OlaOlaOla'

In [8]:
"Ola".upper()

'OLA'

In [9]:
"Ola".lower()

'ola'

In [10]:
"hi There OlDDa".title()

'Hi There Oldda'

In [11]:
len("Ola")

3

In [12]:
len(" Hl ther Ol")

11

In [13]:
len(303444)

TypeError: object of type 'int' has no len()

In [14]:
len(str(12345))

5

In [15]:
int("12345")+6

12351

In [17]:
int("18",16)

24

In [18]:
name = "Sonja"

In [19]:
"Hi ther" + name

'Hi therSonja'

In [20]:
len(name)

5

In [21]:
lottery = [ 3, 42, 12, 19, 30, 59]

In [22]:
lottery

[3, 42, 12, 19, 30, 59]

In [23]:
len(lottery)

6

In [24]:
lottery.sort()

In [25]:
print(lottery)

[3, 12, 19, 30, 42, 59]

In [26]:
lottery

[3, 12, 19, 30, 42, 59]

In [28]:
lottery.reverse()

In [29]:
lottery

[59, 42, 30, 19, 12, 3]

In [30]:
lottery.append(199)

In [31]:
lottery

[59, 42, 30, 19, 12, 3, 199]

In [32]:
lottery.insert(0,200)

In [33]:
lottery

[200, 59, 42, 30, 19, 12, 3, 199]

In [34]:
print(lottery[0])

200

In [35]:
lottery.pop(0)

200

In [36]:
lottery

[59, 42, 30, 19, 12, 3, 199]

In [38]:
participant = {
    "name":"Ola", "country": "Poland", "favorite_numbers":[7, 42, 92]
}

In [41]:
participant["country"]

KeyError: 'Country'

In [42]:
a = True

In [43]:
a

True

In [44]:
a = 2 > 5

In [45]:
a

False

In [46]:
1 != 2

True

In [47]:
True or 1 == 2

True

In [48]:
True and 1 == 2

False